# CakePHP
/vendor/*
/config/app.php
/config/recaptcha.php
/tmp/*
/logs/*
/webroot/img/members/*

# Client-side libraries
/webroot/bootstrap/*
/webroot/ckeditor/*
/webroot/js/jquery*
/webroot/uploadifive/*
/webroot/magnific-popup/*

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar

# PhpStorm
.idea/*

# Misc
/webroot/coverage/*
/node_modules/*
phpunit.xml.dist
empty
