# CakePHP
/vendor/*
/config/app.php
/config/recaptcha.php
/tmp/*
/logs/*
/webroot/img/members/*

# Client-side libraries
/webroot/bootstrap/*
/webroot/ckeditor/*
/webroot/js/jquery*
/webroot/uploadifive/*
/webroot/magnific-popup/*

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
org.eclipse.*
.jsdtscope
.editorconfig

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar

# PhpStorm
.idea/*

# Misc
/webroot/coverage/*
/node_modules/*
phpunit.xml.dist
empty
