@import "./cake.css";
@import "../../vendor/twbs/bootstrap/less/bootstrap.less";
@import 'tag_editor.less';

/* Copying styles from Wordpress site */
body {
    background: #f3f3f3 url("/img/bg-integrity-1.png") repeat scroll center top;
    color: #848484;
    font-size: 15px;
}
body, input, button, select, textarea {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}
#content {
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.133);
    padding: 60px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #272727;
	font-style: normal;
	text-rendering: optimizelegibility;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
}
a {
	color: #fdba31;
	text-decoration: none;
    transition: color 0.3s ease 0s;

	&:hover {
		color: #ee2e24;
		text-decoration: none;
	}
}
footer {
	font-size: 70%;
	padding-top: 15px;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		font-weight: 400;
		letter-spacing: 2px;
		list-style-type: none;
		margin: 0 1em;
		padding: 0;
		text-transform: uppercase;
	}
}



/* Undoing some Bootstrap styles */
.page-header{
	margin-top: 0;
}
.navbar-default {
	background-color: inherit;
}



/* Other styles */
.h1, .h2, .h3, h1, h2, h3 {
	&:first-child {
		margin-top: 0;
	}
}
a:hover {
	.glyphicon {
		text-decoration: none;
	}
}
.alert {
	a {
		text-decoration: underline;
	}
}
.alert-danger,
.alert-info,
.alert-success {
	a {
		color: inherit;
		font-weight: bold;
	}
}
.markdown-example {
	margin-bottom: 50px;
	margin-top: -50px;
	padding-top: 50px;

	&:last-child {
		margin-bottom: 0;
	}
	div > div,
	pre {
		background-color: #f5f5f5;
		border-radius: 5px;
		border: 1px solid #555;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
		color: black;
		margin: 10px 0;
		padding: 15px;
	}
	p, blockquote, ul, ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
#edit_profile {
	section {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
#membership-levels-index {
	section {
		padding: 30px;
	}
}
.well {
	p:last-child {
		margin-bottom: 0;
	}
}
#payments_index {
    .unknown {
        color: #666;
    }
    .refunded {
        color: green;
        margin: 0;
    }
    tr.details {
    	td {
    		padding: 0;
		}
    	ul {
    		display: none;
    		margin: 0;
    		padding: 0px 8px 8px 20px;
		}
	}
    > tbody > tr.details > td {
    	border: 0;
	}
}
#navbar-collapse {
	> ul {
		> li {
			> a {
				border-top: 4px solid transparent;
				color: #708e48;
				font-weight: 300;
				height: 90px;
				letter-spacing: 2px;
				text-transform: uppercase;
    			padding-top: 37px;

				&.current,
				&:hover,
				&:active {
        			border-top-color: rgb(253, 186, 49);
        			color: #000;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.navbar-nav {
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
header {
	background-color: #fff;
}
#logo {
	text-align: center;
}
#membership-details {
	.text-success,
	.text-danger {
		font-weight: bold;
	}
}
.footnote {
	font-size: 80%;
}
#picture-upload-container {
	margin-bottom: 10px;
}
#upload-progress {
	display: none;
}
#upload-status {
	display: none;
}
#limit-reached {
	display: none;
}
#pictures {
	margin: 0;
	padding: 0;

	tr {
		display: inline-block;
		margin-right: 50px;

		&.deleting {
			img {
				opacity: 0.5;
			}
		}
		&.deleted {
			td:first-child {
				button {
					visibility: hidden;
				}
			}
			img {
				visibility: hidden;
			}
		}
	}
	td {
		padding: 10px;
		vertical-align: top;

		&:first-child {
			text-align: center;
		}
	}
	img {
		max-height: 200px;
		max-width: 200px;
		vertical-align: top;
	}
	.glyphicon {
		font-size: 20px;
	}
	button.remove {
		display: block;
		padding: 0;
	}
	button.make-main {
		display: block;
		padding: 0;

		.glyphicon-star {
			cursor: default;
		}
		.glyphicon-star-empty {
			opacity: 0.7;
		}

		&:hover,
		&:focus {
			.glyphicon-star-empty {
				opacity: 1;
			}
		}
	}
	.make-main-container {
		display: none;
	}
	.is-main {
		color: #ffd728;
		cursor: default;
		display: none;
    	text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
	}
}
#members-table {
	td.picture {
		text-align: center;
		width: 100px;

		img {
			max-height: 100px;
			max-width: 100px;
		}
		a {
			cursor: zoom-in;
		}
	}
	.member-name {
		font-size: 150%;
		vertical-align: middle;
	}
}
#main-profile-picture {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;

	a {
		cursor: zoom-in;
	}
	img {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}
#profile-pictures {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		height: 200px;
		list-style-type: none;
		margin-bottom: 10px;
		margin-right: 10px;
		text-align: center;
		vertical-align: middle;
		width: 200px;
	}
	a {
		cursor: zoom-in;
	}
	img {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}
#admin-memberships {
	.expired {
		.text-danger;
	}
	.no-auto-renew {
		.text-danger;
	}
}


/*
 * Attempting to match .form-control
 */
.commonmark-preview {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 300px;
    margin-bottom: 15px;
    overflow: auto;
    padding: 6px 12px;
}
form {
	#profile {
		min-height: 300px;
	}
	#description {
		min-height: 300px;
	}
	.tab-content {
		textarea,
		.commonmark-preview {
			border-top: none;
			box-shadow: none;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
#auto-renew-results {
	display: none;
}
#auto-renewal-logs {
	tr.error {
		td.message {
			color: #8b0000;
		}
		td.message::before {
			font-family: 'Glyphicons Halflings';
			content: '\e107';
		}
	}
}
#profile-tabs {
	margin-bottom: 15px;
}
#my-logo {
	padding: 15px;
}
